# Node / Electron
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
out/
build/
release/
coverage/
*.log
*.bak

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Env
.env
.env.*.local

# Downloader outputs
testDir/
**/download/
**/decode/
output.mp4
*/output.mp4
